.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-top: 120px;
}

.card {
  min-width: 90vw;
  box-sizing: border-box;
  overflow: auto; /* 隱藏超出範圍的內容 */
  flex-direction: column;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  border: 3px solid #e5e5e5;
  border-radius: 16px;
  margin-bottom: 20%;
}

.content {
  border-top: 2px solid #e5e5e5;
  height: fit-content;
  min-width: 100%;
  overflow: auto;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

// .particiapants {
//   margin-top: 10px;
//   width: 100%;
//   justify-content: space-between;
//   display: flex;
//   align-items: center;
// }

.particiapants {
  margin-top: 10px;
  width: 100%;
  justify-content: space-between; /* 左對齊 */
  display: flex;
  flex-wrap: nowrap; /* 超出範圍自動換行 */
  align-items: center;
  overflow-x: auto;
}

.particiapantsMember {
  justify-content: space-around;
  flex-direction: column;
  line-height: 1.2;
  align-items: center;
  display: flex;
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
}

// .categoryItem {
//   width: 15%;
//   white-space: nowrap;
//   // margin-top: 5px;
//   // margin-bottom: 5px;
//   margin-left: 10px;
//   margin-right: 25px;
//   // display: flex;
//   font-size: 18px;
//   text-align: left;
// }

.categoryItem {
  flex: 1; /* 讓每個項目平分空間 */
  min-width: 100px; /* 設置最小寬度，避免內容擠壓 */
  overflow: hidden; /* 隱藏超出範圍的內容 */
  text-overflow: ellipsis; /* 超出範圍顯示省略號 */
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
}
