.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-top: 150px;
}

.card {
  min-width: 93vw;
  box-sizing: border-box;
  overflow: hidden; /* 隱藏超出範圍的內容 */
  flex-direction: column;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  border: 3px solid #e5e5e5;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 20%;
}

.content {
  border-top: 2px solid #e5e5e5;
  height: fit-content;
  margin-bottom: 10px;
  overflow: auto;
}

.footer {
  padding-top: 10px;
  border-top: 2px solid #e5e5e5;
  display: flex;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.particiapants {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  border: 2px solid #e6e6e6;
  border-radius: 12px;
}

.categoryItem {
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryItemTitle {
  color: #9a9a9a;
  font-size: 14px;
}

.categoryItemText {
  margin-top: 20px;
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.subContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
