.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ffffff;
  overflow: hidden;
}

.logo {
  margin-top: 40px;
}

.font {
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.subFont {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.prefixIcon {
  padding-left: 10px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

.footerText {
  text-align: center;
  line-height: 30px;
  color: #b0aeae;
  font-size: 14px;
  margin-bottom: 60px;
}

.fontColor {
  color: #c30a3d;
}
