.wrapper {
  // flex-direction: column;
  // align-items: center;
  // min-height: 100vh;
  // min-width: 100vw;
  // background-color: #ffffff;
  // overflow: hidden;
}

.welcome {
  font-family: 'Microsoft YaHei', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.welcomeLayout {
  display: flex;
  justify-content: space-between;
}

.noticeBar {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.navTitle {
  font-family: 'Microsoft YaHei', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;

}

.navLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%;
  gap: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Microsoft YaHei', sans-serif;
}

.navImage {
  width: 70%;
  height: 70%;
  // height: 50%;
  max-width: 120px;
}