.wrapper {
  margin-top: 100px;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // justify-content: space-between;
//   min-height: 100vh;
//   min-width: 100vw;
//   // background-color: #ffffff;
//   // background-image: url("/background/login.webp");
//   // background-repeat: no-repeat; /* 防止圖片重複 */
//   // background-size: cover; /* 讓圖片充滿整個背景區域，並保持比例 */
//   // background-position: top center; /* 讓圖片居中對齊 */
//   // overflow: hidden;
// }

.welcome {
  font-family: "Microsoft YaHei", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.welcomeLayout {
  display: flex;
  justify-content: space-between;
}

.noticeBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navTitle {
  font-family: "Microsoft YaHei", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.navLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%;
  gap: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: "Microsoft YaHei", sans-serif;
}

.navImage {
  width: 70%;
  height: 70%;
  // height: 50%;
  max-width: 120px;
}
