.layout {
  min-height: 100vh; // 確保整個佈局占滿視窗高度
  display: flex;
  flex-direction: column; // 將 Header, Content, Footer 垂直排列
}

.content {
  height: calc(
    100vh - 100px
  ); // 計算 Content 區域高度，頂部導航欄和底部導航欄各佔 50px
  // min-width: 100vw;
  width: 100%;
  margin-top: 50px; // 確保 Content 區域不被 Header 遮擋
  margin-bottom: 50px;
  padding: 10px;
  background-color: #ffffff; // 可根據設計調整背景顏色
  overflow: auto;
}
